body{
    margin: 0;
    padding: 0;
}

h1{
    background-color: black;
    color: red;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

h2{
    background-color: darksalmon;
    color: lime;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

h3{
    background-color: purple;
    color: blue;
    font-size: 20px;
    padding: 5px;
}

p{ 
    background-color: gray;
    color: purple;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}